body {
  padding: 15px;
}

.mb-3 {
  max-width: 300px;
}

.spacer-1 {
  padding: 10px;
}

.spacer-2 {
  padding: 5px;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
}

#gen_sentences {
  pointer-events: auto;
}
