body {
  padding: 15px;
}

.mb-3 {
  max-width: 400px;
}

.spacer-1 {
  padding: 12px;
}

.spacer-2 {
  padding: 5px;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;

  p {
    font-size: 14px;
  }

  @media (min-width: 600px) {
    margin: 25px;

    p {
      font-size: 16px;
    }
  }
}

#genSentences {
  pointer-events: auto;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  white-space: nowrap;
}

.form-control {
  flex-grow: 1;
}

.no-padding-after {
  margin: 0;
}

.d-inline-block {
  width: auto;
  height: 25px;
}

.invisible {
  display: none;
}

.wrap-text {
  width: 100%;
  max-width: 500px;
}
